
main
{
    margin-top: 2rem;
}
h3
{
    font-family: LexendGiga-Black;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

#artista
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2rem;
}
#artista img
{
    border-radius: 50%;
}

.m-cartaz
{
    color: white !important;
}