.container-fluid #imagemcasa
{
    padding: 0;
}

#imagemcasa img
{
	padding: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}
#description{
    font-size: 1.2rem;
    text-align: left;
    margin-top: 1rem;
}
#festival
{
    gap: 1rem;
}