#festival{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;

}
#festival p{
    font-family: LexendGiga-Black;
    font-style: extra-light;
    font-size: 1.1rem;
    text-align: left;
}