main
{
    margin: auto;
    padding-bottom: 2rem;
    padding-right: 5rem;
    padding-left: 5rem;
}
.c-item
{
    height: 100%;
    margin-top: 15rem;
    display: flex;
    justify-content: center;
    
}
.c-img
{
    height: 100%;
    object-fit: cover;
    
}