/* Estilização geral de todas as páginas */
/* ***Comandos de reset do browser*** */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*{ box-sizing: border-box; margin:0px;}
/* Definições de fontes personalizadas */
@font-face 
{
	font-family: LexendGiga-Black;
	font-weight: normal;
	src: url('../fonts/LexendGiga-Black.ttf');
}
@font-face 
{
	font-family: LexendGiga-light;
	font-weight: light;
	src: url('../fonts/LexendGiga-Light.ttf');
}
/* Estilização da mensagem de marquee */
.wrapper {
    width: 100%;
    height: 1.5rem;
    overflow: hidden;
    position: relative;
	font-family: LexendGiga-Black;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .8);
	color: rgba(231, 177, 10, .99);
}
.marquee {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}
/* Estilização da barra de navegação */
.navbar-cor
{
	background-color: rgba(231, 177, 10, .99);
}

nav ul
{
    font-family: LexendGiga-Black;
	font-style: bold;
	font-size: 1.2rem;
}

nav ul li
{
    padding-right: 3rem;
    padding-left: .6rem;
}

.nav-link
{
	color: black !important;
	transition: .2s ease-in-out;
}

.nav-link:hover
{
	color: white !important;
	
}

nav img
{
    margin-right: 5rem;
	transition: .3s;
}

nav img:hover
{
	transform: scale(1.1);
	transition: .3s ease-in-out;
}

nav #redes a
{
    color: black;
    padding: .5rem .3rem;
}

nav #redes a:hover
{
	color: white;
	transition: .2s ease-in-out;
	
}
/* Estilização geral para o elemento main */
/* Estilização do elemento de vídeo */
#idvideo
{
	padding: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}

video
{
	width: 100%;
	height: 100%;
}
/* Estilização do rodapé */
footer
{
	background-color: rgba(247, 241, 229, 1);
}
/* Estilização do logotipo no rodapé */
#logo-footer
{
	display: flex;
	justify-content: center;
	padding-top: 4rem;
	padding-bottom: 2rem;
	height: 100%;
	width: 100%;
	filter: invert(74%) sepia(9%) saturate(1669%) hue-rotate(70deg) brightness(91%) contrast(85%);
}
/* Ajusta o tamanho do iframe no mapa */
#mapa iframe
{
	width: 80%;
}
/* Estilização do tamanho do mapa  */
#mapa a
{
	display: block;
	width: 100%;
}

footer p
{
	margin-bottom: 1rem;
	font-family: LexendGiga-light;
}
/* Define o espaçamento entre os elementos da linha do rodapé */
#footer-row
{
	gap: 2rem;
}
/* Estilização do tamanho do espaço dos logotipos dos apoios */
#logos-apoios
{
	height: 100%;
}
/* Estilização dos logotipos dos apoios */
#logos-apoios img
{
	width: 70%;
	height: 70%;
	margin: auto;
}
/* Estilização do texto de copyright do Festival */
#copyright
{
	padding: 1rem;
}

#copyright-camecipare p
{
	display: flex;
	justify-content: center;
	font-family: LexendGiga-light;
	color: rgb(0, 0, 0);
	font-size: 1rem;

}

#copyright-autor a
{
	display: flex;
	justify-content: center;
	font-family: LexendGiga-light;
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 1rem;
}
